# files with ~
*~

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dirs
/home/yii2/vendor/

# composers itself is not needed
/composer.phar
/home/yii2/composer.phar

# Mac DS_Store Files
.DS_Store

# Vagrant stores
.vagrant

# log settings
/log/

# database and project settings
/home/apps/sam-dark/minimal/config/main.php