@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=latin,cyrillic);

@font-face {
  font-family: 'Circe-Regular';
  src: url('Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),  
  	   url('Circe/Circe-Regular.otf')  format('opentype'),
	   url('Circe/Circe-Regular.woff') format('woff'), 
	   url('Circe/Circe-Regular.ttf')  format('truetype'), 
	   url('Circe/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: url('Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),  
  	   url('Circe/Circe-Light.otf')  format('opentype'),
	   url('Circe/Circe-Light.woff') format('woff'), 
	   url('Circe/Circe-Light.ttf')  format('truetype'), 
	   url('Circe/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Thin';
  src: url('Circe/Circe-Thin.eot?#iefix') format('embedded-opentype'),  
  	   url('Circe/Circe-Thin.otf')  format('opentype'),
	   url('Circe/Circe-Thin.woff') format('woff'), 
	   url('Circe/Circe-Thin.ttf')  format('truetype'), 
	   url('Circe/Circe-Thin.svg#Circe-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('Circe/Circe-Bold.otf')  format('opentype'),
	   url('Circe/Circe-Bold.woff') format('woff'), 
	   url('Circe/Circe-Bold.ttf')  format('truetype'), 
	   url('Circe/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-ExtraLight';
  src: url('Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),  
  	   url('Circe/Circe-ExtraLight.otf')  format('opentype'),
	   url('Circe/Circe-ExtraLight.woff') format('woff'), 
	   url('Circe/Circe-ExtraLight.ttf')  format('truetype'), 
	   url('Circe/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),  
  	   url('Circe/Circe-ExtraBold.otf')  format('opentype'),
	   url('Circe/Circe-ExtraBold.woff') format('woff'), 
	   url('Circe/Circe-ExtraBold.ttf')  format('truetype'), 
	   url('Circe/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}